.album-a .summary {
    border: 1px solid #ccbebe;
    background: #ececec;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}
.album-a .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.album-a .user p {
    margin-right:1rem;
}
.album-a .user img{
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    position: relative;
}