.btn {
    padding: 0;
}
.btn.rounded {
    border-radius: 5rem;
}
.btn.round.five {
    width:5rem;
    height:5rem;
    border-radius: 5rem;
}
.btn.round.four {
    width:4rem;
    height:4rem;
    border-radius: 5rem;
}
.btn.round.three {
    width:3rem;
    height:3rem;
    border-radius: 5rem;
}
.btn.brd-grey {
    border-color: rgb(221, 221, 221)
}
.btn.caps{
    text-transform: uppercase;
}
.btn svg {
    width: 50%;
    height: 100%;
}
.btn-borderless {
    border:0;
}
.btn.underline {
    text-decoration: underline;
}
button:disabled,
button[disabled]{
    background: #a2a2a2 !important;
    color: white !important;
    cursor: default;
}




/*-------------------------------Outline---------------------------------*/
.btn-outline {
    border: 1px solid #81899a;
}

/*-------------------------------Login---------------------------------*/

.btn-login {
    background-image: radial-gradient(circle at center center, #ff385c 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
    color: white;
    min-width: 200px !important;
    background-size: 200% 200% !important;
    width: 100%;
    border: 0;
    border-radius: 1rem;
    padding: 1.5rem;
}

/*----------------------------------Icon---------------------------------*/
button.btn-icon {
    border: 0;
    height: 3rem;
    width: 3rem;
    display: flex;
    padding: 0;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
button.btn-icon:hover {
    background: #dedede;
}
button.btn-icon.active {
    background: black;
}
button.btn-icon.active svg {
    fill: white;
}
button.btn-icon svg {
    height: 3rem;
    width: 3rem;
}


