/*simple album*/

.album {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    grid-column-gap: 1.4rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.album.container {
    width: 100%
}
.album .row {
    white-space: nowrap;
    overflow: visible;
    width: 100%;
    margin: 2rem -0.8rem 0 -0.8rem;
}
.album .col {
    padding: 0 0.8rem;
    position: relative;
    display: flex;
    width: 100%;
    flex: 0 0 auto;
    display: inline-block;
}
.album.three .col {
    width: 80%;
}
.album.four .col {
    width: 80%;
}
.album .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    max-width: inherit;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
}
.album .card-img{
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.album .card img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}
.album .card-body {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
.album .card-body .name {
    margin-top: 1rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.album .card-body .name p {
    font-weight: 500;
}
.album .card-body .blurb {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.album .card-body .blurb p {
    font-size: 1.5rem;
}
.album .card-body .org {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.album .card-body .org p {
    font-size: 1.5rem;
}
.album .card-body .price {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.album .card-body .price p {
    font-size: 1.5rem;
    font-weight: 800;
    font-size: 1.6rem;
    font-weight: 800;
    -webkit-transform: scale(1,1.1); 
    -moz-transform: scale(1,1.1);
    -ms-transform: scale(1,1.1);
    -o-transform: scale(1,1.1);
    transform: scale(1,1.1);
    color:black;
}
.album .favorite-button button.heart-btn svg{
    fill: rgba(0, 0, 0, 0.5);
    stroke: white;
}

@media screen and (min-width: 768px) {
    .album {
        width: 100%;
        overflow: visible;
        white-space: inherit;
    }
    .album .row {
        white-space: inherit;
    }
    .album.three .col {
        width: 50%;
    }
    .album.four .col {
        width: 33.3333333333%;
    }
    .album .card:hover div.heart {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (min-width: 1280px) {
    .album.three .col {
        width: 33.3333333333%;
    }
    .album.four .col {
        width: 25%;
    }
}