.album-b {
    width:100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.album-b .row {
    white-space: nowrap;
    overflow: visible;
    width: 100%;
    margin: 2rem -0.8rem 0 -0.8rem;
}
.album-b .col {
    width: 80%;
    padding: 0 0.8rem;
    position: relative;
    flex: 0 0 auto;
    display: inline-block;
}
.album-b .card {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.album-b .card-img {
    height: 7rem;
    width: 7rem;
    overflow: hidden;
    border-radius: 1rem;
}
.album-b .card-img img{
    height:7rem;
    width:7rem;
}
.album-b .card-body {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin-left: 2rem;
}
.album-b .card-body p {
    font-weight: 500;
    color: black;
    font-size: 1.7rem;
}

@media screen and (min-width: 1280px) {
    .album-b .col {
        width: 25%;
    }
}
