.favorite-button {
    z-index: 2;
}
.favorite-button button.heart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: 0;
    height: 3.2rem;
    width: 3.2rem;
    padding: 0;
}
.favorite-button button.heart-btn:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}
.favorite-button button.heart-btn svg{
    display: block;
    height: 2.4rem;
    width: 2.4rem;
    stroke-width: 2;
    overflow: visible;
    fill: white;
    stroke: black;
}
.heart {
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hearted {
    fill:#FF5A5F !important; 
    stroke:#FF5A5F !important; 
}