.album.grid-image .card {
    width: 100%;
    margin: initial;
}
.album .card-img.grid-image{
    grid-template-columns: 1fr 0.5fr;
}
.grid-image .single {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-right: 1px solid white;
}
.grid-image .double {
    width: 100%;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.album .img {
    position: relative;
    height: 50%;
    background: #e6e6e6;
}
.grid-image .img.top {
    border-bottom: 1px solid white;
}
.album .grid-image .card img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}