.album.grid-image .card {
    width: 100%;
    margin: initial;
}
.grid-image .single {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-right: 1px solid white;
}
.album .card-img.grid-image{
    padding-top: 100%;
    background: #dedede;
}
.grid-image .first img {
    border-radius: 1rem;
    border: 1px solid white;
}
.grid-image .first.one img {
    margin-left: -0%;
}
.grid-image .first.two img {
    margin-left: -15%;
}
.grid-image .first.three img {
    margin-left: -30%;
}
.grid-image .second img {
    border-radius: 1rem;
    border: 1px solid white;
}
.grid-image .second.two img {
    margin-left: 0%;
}
.grid-image .second.three img {
    margin-left: -15%;
}
.grid-image .third img {
    margin-left: 0%;
    border-radius: 1rem;
    border: 1px solid white;
}
.album .img {
    position: relative;
    height: 50%;
    background: #e6e6e6;
}
.album .grid-image .card img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}