.album.vertical .row {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    overflow: visible;
}
.album.vertical .col {
    display: inherit;
    flex: inherit;
    padding: 0
}
.album.three.vertical .col {
    width: 100%;
}
.album.four.vertical .col {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .album.vertical .row {
        margin: -0.8rem;
    }
    .album.vertical .col {
        padding: 0 0.8rem;
    }
    .album.three.vertical .col {
        width: 50%;
    }
    .album.four.vertical .col {
        width: 33.3333333333%;
    }
}

@media screen and (min-width: 1280px) {
    .album.three.vertical .col {
        width: 33.3333333333%;
    }
    .album.four.vertical .col {
        width: 25%;
    }
}