/node_modules
/public
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/debugbar
/storage/logs
sftp-config.json
sftp-config-alt.json

