.feature-a {
    display: grid;
    grid-gap: 1rem;
    grid-auto-columns: 1fr;
}

.feature-a .element{
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 2px 3px 5px #f3f3f3;
    height: 100%;
    & h3 {
        margin: 0 0 1rem;
        font-size: 1.5rem;
        color: #353535;
        font-weight: 600;
    }
    & p {
        font-weight: 300;
        font-size: 1.4rem;
    }
}