/* ------------------------------------*\
  #Event- Search Page
\*------------------------------------ */

.event-search {
    position: relative;
}
.event-search__container {
    width: 100%;
    grid-column-gap: 0;
}
.search__results {
    width: 100%;
    z-index: 1;
    position: relative;
    display: inline-block;
}
.event__results .gap {
    appearance: none;
    height: 50vh;
    background: transparent;
    border: 0px;
    display: block;
    margin: 0px;
    outline: none;
    width: 100%;
    z-index: -1;
}
.search__results--title {
    display: none;
}
.event__results {
    padding: 0 2rem;
}

/* ---------------------------------------------Desktop------------------------------------ */

@media (min-width: 768px) {
    .event-search__container {
        display: flex;
    }
    .search__results {
        width: 59%;
        margin-top: 8rem;
    }
    .fullwidth .search__results{
        width:0;
        display: none;
    }
    .search__map--container {
        width: 41%;
    }
    .fullwidth .search__map--container {
        width: 100%;
        height: calc(100vh - 8rem);
        margin-top: 8rem;
        overflow: hidden;
    }
    .fullwidth .search__map {
        width: 100%;
        position: relative;
        top: 0;
    }
    .event-search {
        min-height: calc(100vh - 7rem);
    }
    .event-search-list {
        width: 100%;
    }
    .search__results--title {
        display: inline-block;
        padding: 4rem 2rem 1rem 2rem;
        text-align: left;
    }
}