/* ------------------------------------*\
  #Event- Event Maps
\*------------------------------------ */

.search__map--container {
    bottom: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: calc(100vh - 8rem);
}

.search__map {
    overflow: hidden;
    width:100%;
    position: sticky;
    top: 0;
    height: calc(100vh - 8rem);
}

.update-box {
    width: 100%;
    position: absolute;
    margin-top: 0rem;
    z-index: 500;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.update-box .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 4rem;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border-radius: 1rem;
}
.update-box .wrapper p {
    font-size:1.3rem;
    font-weight: 700;
}
.update-box .show-more {
    position: absolute;
    left: 5rem;
    top: 3rem;
}
.update-box .show-more button {
    border: 0;
    padding: 0;
    display: flex;
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.update-box .show-more button svg {
    width:3rem;
    height:3rem;
}
.update-box .checkbox {
    width: 2.4rem;
    height: 2.4rem;
    background: #f64747;
    position: relative;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 1rem;
    input:checked + .check {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 8px;
        height: 14px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #fff;
        transform: rotate(45deg);
        margin-left: -4px;
        margin-top: -7px;
    }
    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        border:0;
    }
}
.mobile .update-box {
    height: 12rem;
    align-items: flex-end;
}
.mobile .update-box .wrapper {
    width: 13rem;
    border-radius: 5rem;
    justify-content: space-between;
    padding: 0 1rem;
}
.update-box button {
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-box button svg{
    width:2.1rem;
    height:2.1rem;
}
.search__map .leaflet-top {
    display: none;
}
.search__map .leaflet-touch .leaflet-bar {
    border: 0;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0 4px 24px, rgba(0, 0, 0, 0.04) 0 0 0 1px !important;
}

.search__map .leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.search__map .leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.search__map .leaflet-touch .leaflet-bar a {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.zoom {
    position: absolute;
    right:0;
    top:0;
    margin: 2.4rem;
    z-index: 900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
    border-radius: 1rem;
    &.search {
        position: fixed;
        right: 26rem;
        top: 7rem;
    }
}
.zoom__in button {
    background: white;
    border: none;
    padding: 1.2rem;
    border-radius: 1rem 1rem 0rem 0rem;
    &:hover {
        background: #e8e8e8;
    }
}
.zoom__out button {
    background: white;
    border: none;
    padding: 1.2rem;
    border-radius: 0rem 0rem 1rem 1rem;
    &:hover {
        background: #e8e8e8;
    }
}

.search__map--header {
    width: 100%;
    padding: 2rem;
    position: absolute;
    z-index: 401;
}

.search__map--city {
    font-weight: 600;
    font-size: 1.4rem;
    display: inline-block;
    width: 42%;
    text-align: center;
    vertical-align: top;
}

.search__map--city button {
    border: 0;
    padding: 0.5rem;
    background: 0;
    width: 35vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3rem;
    -webkit-transform: scale(0.9, 1); /* Safari and Chrome */
    -moz-transform: scale(0.9, 1); /* Firefox */
    -ms-transform: scale(0.9, 1); /* IE 9 */
    -o-transform: scale(0.9, 1); /* Opera */
    transform: scale(0.9, 1); /* W3C */
}

.search__map--dates {
    font-weight: 600;
    font-size: 1.4rem;
    display: inline-block;
    width: 42%;
    text-align: center;
    vertical-align: top;
}

.search__map--dates button{
    border: 0;
    padding: 0.5rem;
    background: 0;
    width: 35vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3rem;
    -webkit-transform: scale(0.9, 1); /* Safari and Chrome */
    -moz-transform: scale(0.9, 1); /* Firefox */
    -ms-transform: scale(0.9, 1); /* IE 9 */
    -o-transform: scale(0.9, 1); /* Opera */
    transform: scale(0.9, 1); /* W3C */
}

.search__map--config {
    position: absolute;
    width: 4rem;
    right: 3rem;
    top: 1.9rem;
    height: 4rem;
    z-index: 9999;
}

.search__map--config button{
    border: 0;
    padding: 0.4rem;
    background: 0;
}

button.mobile-map-close {
    position: fixed;
    top: 10.4rem;
    right: 2.4rem;
    z-index: 900;
    background: #fff;
    padding: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.04) !important;
}

.event-create-map {
    position: relative;
}

.event-show-map {
    position: relative;
}


@media (min-width: 768px) {
    .search__map {
        width: 100%;
        top:8rem;
    }
    .search__map .leaflet-top {
        display: inline-block;
        top: 2rem;
    }
    .search__map .leaflet-left {
        right: 0;
    }
    .leaflet-control-zoom {
        position: absolute !important;
        right: 5rem;
    }
    .search__map--container {
        display: inline-block;
        position: relative;
        height: inherit;
    }
}