/* ------------------------------------*\
  #Event- Show Page
\*------------------------------------ */

.youtube {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
iframe.youtube-iframe {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 1rem;
}

/* ------------------------------------*\
  #Layout
\*------------------------------------ */

.subtext p {
    font-size: 1.4rem;
    color: #717171;
    line-height: 1.8rem;
}
.es__line {
    height: 1px;
    background: #DDDDDD;
    width: 100%;
}
.es__quickbuy--body {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 401;
    display: inline-block;
    border-top: 1px solid #DDDDDD;
    width: 100%;
    background: white;
    padding: 1.5rem 2rem;
    display: flex;
}

/* ------------------------------------*\
  Header
\*------------------------------------ */

.es__header--image img {
    height: 43vh;
    width: 100%;
    object-fit: cover;
}
.es__mobile-nav button.arrow {
    position: absolute;
    display: flex;
    border-radius: 5rem;
    padding: .2rem;
    top: 2rem;
    left: 2rem;
    box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgb(0 0 0 / 18%) 0px 2px 4px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    z-index: 1;
}
.es__mobile-nav .favorite-button button.heart-btn {
    box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgb(0 0 0 / 18%) 0px 2px 4px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 5rem;
    padding: 1.8rem;
    background: white;
}
.es__mobile-nav .favorite-button button.heart-btn svg {
    height: 1.5rem;
    width: 1.5rem;
    stroke-width: 4;
}
.es__mobile-nav button.arrow svg {
    height: 3rem;
    width: 3rem;
}
.es__mobile-nav--button {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
}
.es__mobile-nav--button svg {
    margin: 0 auto;
    display: block;
}
.es__favorite {
    position: absolute;
    right: 0;
    top: 2rem;
    background: white;
    border-radius: 0.5rem;
    width: 5rem;
    height: 5rem;
    right: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
}
.es__favorite--mobile {
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.es__admin--edit {
    position: absolute;
    top: 2rem;
    right: 17rem;
    background: white;
    height: 5rem;
    width: 5rem;
    text-align: center;
    border-radius: .5rem;
}
.es__admin--edit p {
    line-height: 5rem;
}
.es__star {
    color: #FF385C;
    font-size: 1.5rem;
}

/* ------------------------------------*\
  Title
\*------------------------------------ */
.lay-b .es__about.element {
    padding: 1.5rem 2rem 2rem 2rem;
}
.es__title--category {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0.4rem;
    display: inline-block;
}
.es__title--name h1 {
    font-size: 2.4rem;
    display: block;
    margin-bottom: 0.4rem;
    line-height: 3rem;
    color: black;
}
.es__title--tag {
    font-size: 1.6rem;
    margin: 1.2rem 0;
    display: block;
}
.es__title--rating p {
    display: inline-block;
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
}
.es__title--rating a p {
    text-decoration: underline;
}
.es__quickinfo h2 {
    padding-bottom: 4rem;
    font-size: 2rem;
}
.es__quickinfo a {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 1rem;
}
.es__quickinfo--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.es__quickinfo img {
    width: 3.5rem;
}
.es__staffpick--award {
    width: 6rem;
    position: absolute;
    left: -3rem;
    top: -3.5rem;
    transform: rotate(58deg);
}
.es__description img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    float: right;
    margin-top: -1.2rem;
}
.es__description h2 {
    max-width: 88%
}
.es__video {
    width:100%;
    padding: 2rem;
    border-bottom: 1px solid #DDDDDD;
}

/* ------------------------------------*\
  Location
\*------------------------------------ */

.es__remote {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20.6rem));
    margin-bottom: 2rem;
}
.es__remote--element {
    width: 100%;
    border: 1px solid #ccbebe;
    border-radius: 1rem;
    padding: 2rem;
}
.es__remote--element h4 {
    margin-bottom: 1rem;
}
.es__remote--element p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.es__remote--element.user{
    width: 100%;
    border: 1px solid #ccbebe;
    border-radius: 1rem;
    background: #f5f5f5;
    padding: 2rem;
    max-width: 45rem;
}
.es__map {
    margin-top: 2rem;
}
.es__map .leaflet-control-zoom {
    display: none;
}

/* ------------------------------------*\
  Details
\*------------------------------------ */
.es__details.element {
    border: 0;
}
.es__details h3 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.es__details .first h3 {
    padding-top: 0rem;
}
.es__details p {
    font-size: 1.5rem;
}
.es__details ul {
    margin-left: 4rem;
}
.es__tags--element {
    display: inline-block;
    padding: .1rem 1rem;
    border-radius: .5rem;
    border: 1px solid #ccbebe;
    margin-right: 1rem;
    margin-top: 1rem;
}

/* ------------------------------------*\
  Quick Buy
\*------------------------------------ */

.es__tickets {
    width: 60%;
    display:inline-block;
}
.es__tickets h3 {
    font-weight: 500;
    font-size: 1.6rem;
}
.es__tickets p {
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: underline;
}
.es__tickets--detailed.visible {
    width: 100%;
    display: inline-block;
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    margin: 0;
    border-top: 1px solid #DDDDDD
}
.es__tickets--detailed {
    display: none;
}
.es__tickets--title {
    padding: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.es__tickets--title h4 {
    font-size: 1.5rem;
    font-weight: 800;
}
.es__tickets--title button {
    padding: 0;
    border: 0;
    z-index: 10;
    width: 3.5rem;
    height: 3.5rem;
}
.es__tickets--title path {
    fill: black !important;
}
.es__tickets--title svg {
    height: 14px !important;
    width: 14px !important;
}
.es__tickets--background {
    display: none;
}
.es__tickets--background.visible {
    display: inline-block;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #ffffff57;
}
.es__ticket--element {
    border-bottom: 1px solid #DDDDDD;
    padding: 2rem 1rem;
}
.es__ticket--element:last-child {
    border-bottom: 0;
}
.es__ticket--name {
    display: grid;
    grid-template-columns: 1fr 1fr
}
.es__ticket--name h4 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
}
.es__ticket--name p {
    text-align: right;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
}
.es__ticket--description p {
    font-size: 1.2rem;
    color: #a0a0a0;
    font-weight: 400;
}
.es__pricing--body .flatpickr-day {
    pointer-events: none;
}
.es__pricing--body div.dayContainer {
    width: 31rem;
    max-width: 31rem;
    padding: 0;
}
.es__pricing--body div.flatpickr-weekdaycontainer {
    padding: 0;
}
.es__pricing--body .flatpickr-calendar.inline {
    margin-top: 0;
}

/* ------------------------------------*\
  Dates
\*------------------------------------ */

.es__dates {
    width: 100%;
    position: relative;
}
.es__dates h3 {
    font-size: 1.6rem;
    font-weight: 500;
}
.es__dates .flatpickr-calendar {
    box-shadow: none;
}
.es__dates-button {
    border: 1px solid #DDDDDD;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    text-align: left;
    z-index: 100;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.es__dates--body {
    border: 1px solid #DDDDDD;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    text-align: left;
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
}
.es__dates-button:hover {
    background: black;
}
.es__dates-button:hover h3,  .es__dates-button:hover p, .es__dates-button:hover b{
    color: white;
}
.es__dates-button svg{
    fill: black;
}
.es__dates-button:hover svg{
    fill: white;
}
.es__dates-button:hover g {
    fill: white;
}
.es__dates-button--arrow {
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: 2.3rem;
}

.es__dates--popup {
    position: relative;
    margin-top: -1rem;
    margin: 0rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
}
.es__dates .flatpickr-day.flatpickr-disabled {
    background: #cecece;
    color: rgb(8 8 8 / 79%);
}
.es__dates .flatpickr-current-month .flatpickr-monthDropdown-months {
    font-weight: 800;
    font-size: 1.6rem;
}
.es__dates .flatpickr-current-month input.cur-year {
    font-weight: 800 !important;
    font-size: 1.6rem !important;
    padding: 0 !important;
}
.es__dates span.flatpickr-prev-month {
    top: 1.3rem !important;
}
.es__dates span.flatpickr-next-month {
    top: 1.3rem !important;
}
.es__dates--week {
    margin: 2rem 0;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-gap: 2rem;
}
.es__rating--date {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}
.es__rating--date p {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 1.2rem;
}
.es__rating--date input.form-control.flatpickr-input { 
    display: inline-block;
}
.es__rating--date input.form-control.input {
    border: 1px solid #DDDDDD;
    padding: 2.5rem 1rem 1rem 1rem;
    display: inline-block;
    border-radius: 1rem;
}
.es__rating--date input.form-control.input.active {
    background: black;
    color: white;
}
.es__rating--date input.form-control.input.active::placeholder {
    color: white;
}
.es__rating--date svg {
    width: 4rem; 
}
.es__week--days p {
    display: inline-block;
}
.es__week--days b {
    color: black;
}
.es__week--day {
    border: 1px solid black;
    border-radius: 1rem;
    width: 7rem;
    height: 6rem;
}
.es__week--day h4{
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
}
.es__week--day.active {
    background: black;
}
.es__week--day.active h4 {
    color: white;
}
/*.es__week--days {
    padding: 1rem 0;
}*/
.es__dates--description {
    padding-bottom: 0.4rem 0;
    overflow: hidden;
}
.es__dates--description p {
    font-size: 1.4rem;
    color: #717171;
}
.es__dates span.flatpickr-day {
    user-select: none;
    pointer-events: none;
}
.es__ticket--buy {
    width: 40%;
    display: inline-block;
    vertical-align: bottom;
}
.es__ticket--buy button {
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: white;
    float: right;
    border: 0;
    font-weight: 600;
    padding: 1.4rem 0.9rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}

/* ------------------------------------*\
  Organizer
\*------------------------------------ */
.es__organizer.element {
    border:0;
}
.es__organizer--details {
    display: grid;
    grid-template-columns: 6rem 1fr;
    padding-bottom: 2rem;
}
.es__organizer--image {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border: 1px solid #e2e2e2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.es__organizer--image img {
    height: 100%
}
.es__organizer--image p {
    font-size: 3rem;
    color: #fff;
    font-weight: 800;
    margin: auto;
}
.es__organizer--name h3 {
    font-size: 2rem;
}
.es__organizer--rating {
    padding-bottom: 2rem;
}
.es__organizer--rating p {
    font-size:1.4rem;
}
/* ------------------------------------*\
  Reviews
\*------------------------------------ */

.es__reviews a {
    display: flex;
    align-items: center;
}
.event-show-review__right--name {
    margin-left: 1rem;
}

/* ------------------------------------*\
  StaffPicks
\*------------------------------------ */

.es__staffpick--title {
    display: grid;
    grid-template-columns: 6rem 1fr;
}
.es__staffpick--title img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}
.es__staffpick--title h3 {
    font-size: 2rem;
}
.es__staffpick--title p {
    font-size: 1.4rem;
    color: #717171;
}

/* ------------------------------------*\
  Details
\*------------------------------------ */



/* ------------------------------------*\
  Rating
\*------------------------------------ */

.es__rating {
    display: grid;
    grid-auto-rows: minmax(20rem, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    margin-top: 1rem;
}
.es__rating--reviews.pad4 {
    border: 0;
}
.es__rating--reviews h2 {
    padding-left:1rem;
}
.es__rating--details {
    display: grid;
    position: relative;
    grid-template-columns: 6rem 1fr;
    padding-bottom: 1rem;
}
.es__rating--image img{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: black;
    border: 1px solid #e2e2e2;
}
.es__rating--image p {
    font-size: 3rem;
    line-height: 3rem;
    color: black;
    padding: 1.1rem;
    text-align: center;
    font-weight: 800;
}
.es__rating--element {
    position: relative;
    border: 1px solid #cccccc;
    padding: 1.5rem;
    border-radius: 1rem;
}
.es__rating h4 {
    font-size: 1.6rem;
}
.es__rating--submit {
    border: 1px solid #bfbfbf;
    border-radius: 1rem;
    padding: 2rem;
}
.es__star {
    display: inline-block;
}
.es__star svg{
    vertical-align: middle;
    fill:#cccccc;
}
.es__star.active svg{
    fill:#FF385C;
}
button.es__star {
    border: 0;
    padding: 0.5rem;
}
button.es__star svg {
    fill: #cccccc;
}
button.es__star.active svg{
    fill: #FF385C;
}
button.es__star:hover {
    color: #FF385C;
}
.es__rating--element .es__star {
    width: 1.4rem;
    margin-right: 0.5rem;
}
.es__rating--element .es__star svg{
    width: 1.4rem;
}
.es__rating--submit textarea {
    width: 100%;
    margin: 0;
    padding: 1rem;
    min-height: 8rem;
}
button.rate {
    background: white;
    color: black;
    font-weight: 600;
    margin-top: 1rem;
}
button.rate:hover {
    background: black;
    color: white;
}
button.helpful {
    position: relative;
    padding: 0.1rem .5rem;
    font-size: 1rem;
    border-radius: 5rem;
    color: #8a8a8a;
    border: 1px solid #c3c3c3;
    vertical-align: middle;
}
button.helpful:hover {
    color: white;
    background: #c3c3c3;
}
.es__rating--helpful {
    margin-top: 2rem;
}
.es__rating--helpful p {
    display: inline-block;
    margin-left: 1rem;
}
.es__rating--verify {
    -webkit-box-pack: center;
    -webkit-box-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    z-index: 2000;
    position: fixed;
    inset: 0px;
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background: #00000091
}
.es__rating--verifybox {
    background: white;
    position: relative;
    margin: auto;
    width: 45rem;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
    padding: 3rem;
}
.es__rating--verify h3{
    padding-bottom: 3rem;
}
.es__rating--verify button {
    background: white;
    border-radius: 1rem;
    float: right;
    padding: 1rem 2rem;
}
.es__rating--verify button:hover {
    background: black;
    color: white;
}


@media (min-width: 768px) {
    .es__header--image img {
        border-radius: 1rem;
    }
    .lay-b .es__about.element {
        padding: 1.5rem 0 2rem 0;
    }
    .es__map .leaflet-top {
        top: -1.5rem;
    }
    .es__map .leaflet-control-zoom {
        position: absolute;
        top: 3rem;
        display: inherit;
    }
    .es__map .leaflet-touch .leaflet-bar {
        border: 0;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0 4px 24px, rgba(0, 0, 0, 0.04) 0 0 0 1px !important;
    }
    .es__map .leaflet-touch .leaflet-bar a:first-child {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .es__map .leaflet-touch .leaflet-bar a:last-child {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .es__map .leaflet-touch .leaflet-bar a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .es__quickbuy--body {
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        padding: 2rem 2rem 3rem 2rem;
        margin-top: 4rem;
        border: 1px solid #dddddd;
        box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.12);
        border-radius: 1rem;
        flex-direction: column;
    }
    .es__tickets {
        width: 100%;
    }
    .es__ticket--buy {
        margin-top: 3rem;
        width: 100%;
    }
    .es__ticket--buy button {
        padding: 1.6rem 5rem;
    }
    .es__header--image img {
        height: 45rem;
    }
    .es__title--name h1 {
        font-size: 2.8rem;
    }
    .es__rating {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(25rem, 1fr);
    }
    .es__rating--element {
        position: relative;
        border: 0;
        padding: 0;
        border-radius: 0;
    }
    .es__tickets--detailed.visible {
        position: relative;
        border-radius: 1rem;
        border: 1px solid #DDDDDD;
    }
    .es__dates {
        position: inherit;
        margin-top: 3rem;
    }
    .es__dates-button {
        margin: 0;
    }
    .es__dates--popup {
        position: absolute;
        top: -2rem;
        right: -2rem;
        border: 1px solid #dddddd;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
        background: white;
        padding: 2rem;
        margin: 0rem;
        padding-top: 8rem;
        max-height: calc(100vh - 20rem);
        overflow: hidden auto;
    }
    .es__video {
        padding: 4rem 0;
    }
}