/* ------------------------------------*\
  #Event- Show Page
\*------------------------------------ */
.show-content .flatpickr-calendar {
    box-shadow: none;
}
.show-content .flatpickr-day.flatpickr-disabled {
    background: #cecece;
    color: rgb(8 8 8 / 79%);
}
.show-content span.flatpickr-day {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.show-content .flatpickr-current-month .flatpickr-monthDropdown-months {
    font-weight: 800;
    font-size: 1.6rem;
}
.show-content .flatpickr-current-month input.cur-year {
    font-weight: 800 !important;
    font-size: 1.6rem !important;
    padding: 0 !important;
}
.show-content span.flatpickr-prev-month {
    top: 1.3rem !important;
}
.show-content span.flatpickr-next-month {
    top: 1.3rem !important;
}
.show-content .leaflet-control-zoom {
    display: none;
}
