/* ------------------------------------*\
  #Organizer- Show Page
\*------------------------------------ */

.organizer-show {
    width: 100%;
    padding-top: 20rem;
    overflow: hidden;
}

.organizer-show__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    background-color: black;
    z-index: -1;
}

.organizer-show__image--media {
    position: absolute;
    height: 30rem;
    width: 30rem;
    left: 10rem;
}

.organizer-show__image--media img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    background: white;
}

.organizer-show__info {
    width: 100%;
    position: relative;
    padding-left: 30rem;
    padding-right: 4rem;
    padding-bottom: 10rem;
}

.organizer-show__info.has-logo {
    padding-left: 50rem;
}

.organizer-show__info--name {
    margin-bottom: 3rem;
}

.organizer-show__info--name h2 {
    font-size: 9rem;
    margin-bottom: 1rem;
}

.organizer-show__info--contact {
    display: inline-grid;
    /*grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
}

img.organizer-info-contact__image {
    width: 1.4rem;
    margin-bottom: 0.7rem;
}

.organizer-info-contact__type {
    margin: 0;
    word-wrap: break-word;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2857142857rem;
    color: #484848;
    display: block;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.organizer-show-info__description {
    color: #676767;
    margin: 2rem 0 4rem 0;
}

.organizer-show-contact {
    padding: 0 0 3rem 0;
    border-bottom: 1px solid #c3c3c3;
}

.organizer-show__events h2 {
    font-size: 1.6rem;
    font-weight: 500;
}

.organizer-show__event-list {
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 0;
}

@media (max-width: 1125px) {
    .organizer-show {
        padding-top: 12rem;
    }

    .organizer-show__image--media {
        height: 20rem;
        width: 20rem;
        left: 5rem;
    }

    .organizer-show__info {
        padding-left: 20rem;
        padding-right: 4rem;
        padding-bottom: 10rem;
        padding-top: 5rem;
    }

    .organizer-show__info.has-logo {
        padding-left: 20rem;
    }

    .organizer-show__info--name .has-logo {
        margin-bottom: 7rem;
        padding-left: 7rem;
    }

    .organizer-show__background {
        width: 15rem;
    }

    .organizer-show__events {
        margin-left:15;
    }
}

@media (max-width: 768px) {
    .organizer-show {
        padding: 3rem 2rem 6rem 2rem;
    }

    .organizer-show__event-list {
        height: 100%;
        overflow-y: auto;
        overflow-x: scroll;
        scrollbar-width: none;
        grid-column-gap: 1.4rem !important;
        display: -webkit-box !important;
        display: flex !important;
    }

    .organizer-show__image--media {
        position: relative;
        height: 20rem;
        width: 20rem;
        margin: auto;
        left: 0;
    }

    .organizer-show__image {
        background: white;
    }

    .organizer-show__info {
        padding: 0;
    }

    .organizer-show__info.has-logo {
        padding-left: 0;
    }

    .organizer-show__info--name {
        text-align: center;
    }

    .organizer-show__info--name .has-logo {
        margin-bottom: 0;
        padding-left: 0;
    }

    .organizer-show__info--name h2 {
        font-size: 4rem !important;
        line-height: inherit !important;
    }

    .organizer-show__background {
        background: 0;
    }
}