.field {
    position: relative;
    width: 100%;
    & label {
        display: block;
        margin: 2rem 0rem 1rem 0rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #656565;
    }
    & input {
        position: relative;
        color: #484848;
        background-color: white;
        transition: border-color 0.2s ease 0s;
        padding: 1.3rem 1rem;
        border-width: 1px;
        border-style: solid;
        -o-border-image: initial;
        border-image: initial;
        border-radius: 5px;
        border-color: #ebebeb;
        margin: 0rem 0rem 1rem 0rem;
        font-size: 1.4rem;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        &.active {
            border-color: rgb(0, 132, 137);
        }
        &.error {
            border-color: red;
        }
        &::placeholder {
            color:#adadad;
            font-size:1.4rem;
            font-family: inherit;
        }
    }
    & textarea {
        position: relative;
        color: #484848;
        background-color: white;
        transition: border-color 0.2s ease 0s;
        padding: 1.3rem 1rem;
        border-width: 1px;
        border-style: solid;
        -o-border-image: initial;
        border-image: initial;
        border-radius: 5px;
        border-color: #ebebeb;
        margin: 0rem 0rem 1rem 0rem;
        font-size: 1.4rem;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        &.active {
            border-color: rgb(0, 132, 137);
        }
        &.error {
            border-color: red;
        }
        &::placeholder {
            color:#adadad;
            font-size:1.4rem;
            font-family: inherit;
        }
    }
    & button.save {
        background: $default-color;
        color:white;
        border: none;
        width:100%;
    }
    & button.cancel {
        border:none;
        color:$default-color;
    }
    & .validation-error {
        margin-top: -8px;
        background: white;
        margin-left: 0px;
        z-index: 10;
        padding: 0.5rem;
        & p {
            margin: 0px;
            padding: 0px 5px;
            color: red;
            font-size: 1.3rem;
            line-height: 1.4rem;
        }
    }
}
.field.h2 input{
    font-size: 3.1rem !important;
    color: #484848;
    font-weight: 500;
}
.field.h2 input::placeholder{
    font-size: 3.1rem !important;
    font-weight: 500;
}
.field.h3 input{
    font-size: 1.8rem !important;
    color: #484848;
    font-weight: 500;
}
.field.h3 input::placeholder{
    font-size: 1.8rem !important;
    font-weight: 500;
}
.validation-error.image {
    margin: 0;
    top: 65%;
    left: 50%;
    width: 20rem;
    margin-left: -10rem;
    position: absolute;
}


@media (max-width: 768px) {
    .field {
        & input {
            color: black;
            border-color: #333333;
            &::placeholder {
                color:black;
                font-size:1.4rem;
                font-family: inherit;
            }
        }
    }
}