/*simple album*/

.album.container {
    width: 100%
}
.album .row {
    display: flex;
    flex-wrap: wrap;
}
.album .col {
    flex: 0 0 auto;
    width: 33.3333333333%;
    padding: 0 1rem;
    position: relative;
}
.album.simple .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    max-width: inherit;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}
.album.simple .card img {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
    height: 23rem;
    width: 100%;
}
.album .card-body {
    padding: 1rem;
}
.album p.card-title{
    font-weight: 700;

}

/*listing album*/

.album.listing .col {
    display: flex;
    width: 100%;
    flex: 0 0 25%;
    padding: 0;
    padding-right: 1rem;
}
.album.listing .card {
    width: 100%;
}
.album.listing .card-img{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    flex: 1 1 0%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.album.listing .single {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-right: 1px solid white;
}
.album.listing .double {
    width: 100%;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.album.listing .img {
    position: relative;
    height: 50%;
    background: #e6e6e6;
}
.album.listing .img.top {
    border-bottom: 1px solid white;
}
.album.listing .card img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}