
/* --------------------------------- Event card for Index Page ---------------------------------------------------- */

.event-index__eventlist {
    width: 100%;
    overflow: hidden;
    margin-left: -1rem;
    margin-right: -1rem;
}

.event-index__eventlist.edit {
    margin: 0;
}

.event-index__eventlist--middle {
    white-space: nowrap;
    overflow: visible;
    transition: transform 0.5s ease 0s;
    width: 100%;
}

.event-index__eventlist--middle.vertical {
    white-space: inherit;
}

.eventlist__element {
    padding: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    position: relative;
}

.event-index__eventlist--more {
    display: inline-block;
    margin: 2rem 0;
    float: right;
    & button {
        border-radius: 5rem;
        padding: 0.8rem 1rem;
    }
}

.card {
    position: relative;
    border-radius: 1rem;
    max-width: 50rem;
    margin: auto;
    &.black {
        background: black;
    }
}

.card.index {
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px !important;
}

.card-url {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 12px;
}

.card-image__top {
    contain: content;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    border-radius: 1rem;
    pointer-events: none;
}

.card-image__top.index {
    border-radius: 1rem 1rem 0 0;
}

.card-image__middle {
    position: relative;
}

.card-image__middle.empty {
    background: $default-color;
}

.card-image__middle.new {
    background: white;
    border: 1px solid black;
    border-radius: 1rem;
}

.card-image {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

img.card-image__img {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1rem;
    object-fit: cover;
    height: 23rem;
    width: 100%;
    transform-origin: 50% 65%;
    transition: transform 0.1s, filter 0.1s;
}

.is-past img.card-image__img {
    opacity: 0.5;
}

.is-past .card-content h3 {
    opacity: 0.5;
}

.is-past .card-content h4 {
    opacity: 0.5;
}

img.card-image__img.index {
    height: 30rem;
}

.card:hover img.card-image__img {
    filter: brightness(100%);
    transition: transform 4s, filter 2s;
    transform: scale(1.1);
}

.card-content {
    padding: 0 0 1rem 0;
}

.card-content.index {
    padding: 0 1rem 1rem 1rem;
}

.card-title h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    &.black {
        color: white;
    }
}

.card-organizer h3 {
    margin: 0.2rem 0 0.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    &.black {
        color: white;
    }
}

.card-price h4 {
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-size: 1.3rem;
    &.black {
        color: white;
    }
}

.heart {
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: white;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0 0, rgba(0, 0, 0, 0.04) 0 0 0 0.5px;
/*    -webkit-transition-duration: 0.3s;*/
    -webkit-transition-property: -webkit-transform;
    transition-property: transform, visibility;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
    &:hover {
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);
    }
}

.heart.visible {
    visibility: visible;
    opacity: 1;
    box-shadow: none;
    right: 0;
    top: 0;
}

/* --------------------------------- Event card for Staff Picks on Index Page ---------------------------------------------------- */
.eventlist__element.staff {
    padding: 0 12px;
}

.event-index__staffpicks--title {
    min-height: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
     & h3 {
        color: white;
        font-size: 2rem;
        font-weight: 800;
    }
}

.card-content.staff {
    background: black;
}

.staff .card-description {
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    display: block;
    & p {
        color: white;
        font-size: 1.3rem;
        line-height: inherit;
    }
}

.card.staff {
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 2rem;
    max-width: 70rem;
}

.staffpicks__user--name.index {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #6d6d6d;
    padding: 0 1rem;
    border-radius: 5rem;
}

.staffpicks__user--name.index p {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.staffpicks__user.index {
    margin-top: 0.9rem;
}

.staffpicks__selection__button {
    position: absolute;
    bottom: -4rem;
}

.card-image__middle.staff {
    padding-top: 80%;
}

@media (min-width: 768px) {
    img.card-image__img.staff {
        border-radius: 0;
        height: 100%;
    }

    .eventlist__element.staff {
        padding: 0;
    }

    .card.staff {
        max-width: 100%;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: 0;
    }

    .card-image__top.staff {
        border-radius: 0;
        transition: all 0.3s ease-out;
        clip-path: polygon(110px 0, calc(100% - 50px) 0, calc(100% - 110px) 100%, 50px 100%);
        width: calc(100% + 14rem);
        left: -20%;
        background-size: auto 140%;
        background-position: center center;
        overflow: hidden;
    }

    .card-image__middle.staff {
        padding-top: inherit;
        height: 100%;
    }

    .card-content.staff {
        padding: 1rem;
        text-align: center;
    }

    .staffpicks__selection__button {
        position: relative;
        bottom: inherit;
    }

    .event-index__eventlist--middle.staff {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        padding-top: 2rem;
    }

    .eventlist__element:first-child .card-image__top.staff {
        clip-path: polygon(    0 0   ,   calc(100% - 50px) 0  , calc(100% - 110px) 100%   ,   0 100%);
    }

    .eventlist__element:last-child .card-image__top.staff {
        clip-path: polygon(110px 0, 100% 0, 100% 100%, 50px 100%);
    }

    .eventlist__element.current .card-image__top.staff {
        clip-path: polygon(70px 0, calc(100% - 10px) 0, calc(100% - 70px) 100%, 0 100%);
    }

    .eventlist__element:first-child.current .card-image__top.staff {
        clip-path: polygon(    0 0   ,  calc(100% - 10px) 0  , calc(100% - 70px) 100%   ,   0 100%);
    }

    .eventlist__element:last-child.current .card-image__top.staff {
        clip-path: polygon(70px 0, 100% 0, 100% 100%, 0px 100%);
    }

    .eventlist__element:last-child.front .card-image__top.staff {
        clip-path: polygon(150px 0, 100% 0, 100% 100%, 90px 100%);
    }

    .eventlist__element.front .card-image__top.staff {
        clip-path: polygon(150px 0, calc(100% - 50px) 0, calc(100% - 110px) 100%, 90px 100%);
    }

    .eventlist__element:first-child.back .card-image__top.staff {
        clip-path: polygon(0 0, calc(100% - 90px) 0, calc(100% - 160px) 100%, 0 100%);
    }

    .eventlist__element.back .card-image__top.staff {
        clip-path: polygon(110px 0, calc(100% - 90px) 0, calc(100% - 160px) 100%, 50px 100%);
    }

}

/* Mobile devices (iphones, 768px and lower) --------------------------------- */
@media screen and (max-width: 768px) {
    .event-index__eventlist {
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: none;
        grid-column-gap: 1.4rem;
        display: -webkit-box;
        display: flex;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
    }

    .eventlist__element {
        padding: 0.7rem;
        padding: 0 6px;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
    }
}

@media (min-width: 768px) {
    .eventlist__element {
        &:hover div.heart{
            visibility: visible;
            opacity: 1;
        }
    }
}