.default__image-upload-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.default__image-upload-container.hoverImage{
    opacity: 0.8;
}
.default__image-upload {
    width: 25rem;
    height: 16rem;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}
.default__image-upload.pointer {
    cursor: pointer;
}
.default__image-upload svg {
    width: 16% !important;
    height:16% !important;
}
.default__image-upload  input.fileinput {
    display: none;
}
.default__image-upload-container p {
    color: black;
}
.default__image-upload-container .hoverImage svg{
    fill:white;
}
.default__image-upload-container .hoverImage p{
    color: white;
}
.default__image-upload-container .delete-btn {
    position: absolute;
    right: -1rem;
    top: -1rem;
    z-index: 5;
}