/*.vlogin {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000ab;
    width: 100%;
    z-index: 901;
    height: 100%;
    & .body-log {
        background: white;
        position: relative;
        margin:auto;
        margin-top:10%;
        width:60%;
        display: grid;
        grid-template-columns: .4fr .6fr;
        overflow-y: auto;
        & .left-log {
            padding: 3rem 4rem;
            & .close {
                display: none;
            }
            & .title h3 {
                font-size:3rem;
                margin-bottom: 1rem;
            }
        }
        & .rightimg {
            padding: 0;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 768px) {
    .vlogin {
        overflow-y: auto;
        & .body-log {
            width: 100%;
            margin-top: 0;
            border-radius: 5px;
            display: inline-block;
            border-radius: 0;
            height:100%;
            & .left-log {
                & .close {
                    display: inline-block;
                    position: absolute;
                    left: 5%;
                    top: 5%;
                }
            }
            & .rightimg {
                display: none;
            }
        }

    }
}*/