/*------------------------------------*\
  #Delete Modal
\*------------------------------------*/

.modal-box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffffffcf;
    z-index: 11111;
    top: 0;
    left: 0;
}
.modal-box__container {
    background: white;
    width: 60rem;
    margin: auto;
    margin-top: 10rem;
    box-shadow: #ebebeb 0 0 20px 5px;
}
.modal-box__close {
    text-align: right;
}
.modal-box__close button{
    background: #4a4a4a;
    border-radius: 5rem;
    margin: 1rem 1rem 0 1rem;
}
.modal-box__body {
    padding: 1rem 4rem;
}
.modal-box h3, .modal-box p {
    padding: 1.2rem 0;
}
.modal-box p {
    font-size: 1.5rem;
    line-height: initial;
}
.modal-box__input {
    padding: 0 4rem;
    height: 4rem;
    position: relative;
}

.modal-box__input input.delete {
    height: 100%;
    position: absolute;
    padding-left: 1rem;
}

.modal-box__input button.delete {
    height: 100%;
    position: absolute;
    margin-left: 19rem;
}

.modal-box__footer {
    background: #333;
    text-align: right;
    margin-top: 3rem;
}

.modal-box__footer button{
    background: 0;
    color: #c3c3c3;
    border: 0;
}

.modal-box__input div.vs__dropdown-toggle {
    min-height: 4rem;
}

.modal-box__input .v-select {
    position: absolute;
    width: 30rem;
}

.modal-box__input button.submit {
    height: 100%;
    position: absolute;
    margin-left: 30rem;
}
