.listing-index {
    padding: 0 8rem 8rem 8rem;
    max-width: 1600px;
    margin: auto;
}
.li-edit {
    position: absolute;
    right: 5rem;
    z-index: 10;
    bottom: 5rem;
}
.li-header {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
}
.li-header__content {
    position: relative;
    background: black;
    padding: 0 6rem;
    display: flex;
    align-items: center;
}
.li-wrapper {
    width: 100%;
}
.li-name h2 {
    color: white;
    line-height: initial;
}
.li-blurb {
    height: 100%;
    margin-top: 1rem;
    color: white;
}
.li-header .default__image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.li-header .default__image-upload {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.li-image {
    position: relative;
    display: inline-block;
}
.li-image.live:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to right, black 0%, rgba(255, 255, 255, 0) 50%);
}
.li-image img {
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
    height: 100%;
    width: 100%;
}
.li-content {
    display: grid;
    grid-template-columns: .8fr .2fr;
    grid-gap: 2rem;
}
.li-content .add-new-listing-card {
    margin-top: 0; 
}
.li-listing {
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
}
.li-listing h3 {
    margin-bottom: 2rem;
}
.curator-table {
    background: gainsboro;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
    position: relative;
}
.curator-table .close{
    position: absolute;
    right:-2rem;
    top:-2rem;
}
.curator-table .close svg {
    width: 4rem;
    height: 4rem;
}