/*text*/

.div-text-black p, .div-text-black h1, .div-text-black h2, .div-text-black h3, .div-text-black h4 {
    color:black;
}
.div-text-white p, .div-text-white h1, .div-text-white h2, .div-text-white h3, .div-text-white h4 {
    color:white;
}



.translate-z-0 {
    transform: translateZ(0);
}