.nav-search__options {
    position: fixed;
    width:100%;
    left:0;
    top:0;
    bottom:0;
    z-index: 2003;
    background: white;
    overflow: auto;
}
.nav-search__options .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7.5rem;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
    text-align: center;
    padding: 2rem;
}
.nav-search__options button.svg {
    border: 0;
    padding: 1rem 0;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 0;
}
.nav-search__options button.svg.close {
    margin-left: -1rem;
}
.nav-search__options svg {
    width: 2rem;
    height: 2rem;
}
.nav-search__options h3 {
    font-size: 1.8rem;
    padding-top: 2rem;
}
.nav-search__options .body {
    padding: 0 2rem 10rem 2rem;
}
.nav-search__options .body .item {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    margin: 1rem 0;
    padding: 0 0 2rem 0;
}
.nav-search__options .body .item button.filter {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 1rem;
    background: 0;
    color: black;
    text-decoration: underline;
    border: 0;
}
.nav-search__options .filter__dropdown {
    position: relative;
    box-shadow: none;
    top:0;
    overflow: visible;
    margin-top: 2rem;
}
.nav-search__options .filter__dropdown .grid {
    padding: 0;
}
.nav-search__options .filter__dropdown .grid  button {
    padding: 1rem 0;
}
.nav-search__options .filter__dropdown .element {
    overflow: visible;
    max-height: 100%;
}
.nav-search__options .price {
    height: 14rem;
}
.nav-search__options .price .filter__price {
    position: relative;
}
.nav-search__options .category .filter__category {
    position: relative;
}
.nav-search__options .tags .filter__tag {
    position: relative;
}
.nav-search__options .footer {
    position: fixed;
    bottom: 0;
    height: 8rem;
    border-top: 1px solid #ebebeb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-search__options .footer button {
    background: black;
    color: white;
    padding: 0rem;
    width: 90%;
    height: 5rem;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 1rem;
}