.mobile-search-nav::before {
    background-image: -webkit-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    content: "";
    height: 140%;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    -webkit-transition: 150ms opacity ease;
    -moz-transition: 150ms opacity ease;
    transition: 150ms opacity ease;
}
.mobile-search-nav::after {
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-property: opacity, -webkit-transform, transform;
    -moz-transition-property: opacity, transform;
    transition-property: opacity, -ms-transform, -webkit-transform, transform;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
.mobile-search-nav.scroll::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    background: rgb(255, 255, 255);
    z-index: -3;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 0px;
}
.mobile-search-nav.open::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    background: rgb(255, 255, 255);
    z-index: -3;
    transform: scaleY(2.5);
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 0px;
}





.search-nav {
    position: fixed;
    width: 100%;
    background: 0;
    z-index: 2;
    height: 7rem;
    margin: auto;
    z-index: 2002;
    top:0;
}
.search-nav::before {
    background-image: -webkit-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    content: "";
    height: 140%;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    -webkit-transition: 150ms opacity ease;
    -moz-transition: 150ms opacity ease;
    transition: 150ms opacity ease;
}
.search-nav::after {
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-property: opacity, -webkit-transform, transform;
    -moz-transition-property: opacity, transform;
    transition-property: opacity, -ms-transform, -webkit-transform, transform;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
.search-nav.scroll::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    background: rgb(255, 255, 255);
    z-index: -3;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 0px;
}
.search-nav.open::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    background: rgb(255, 255, 255);
    z-index: -3;
    transform: scaleY(2.5);
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 0px;
}
.search-nav .placeholder {
    padding: 0.3rem;
    background: white;
    border-radius: 5rem;
    width: 90%;
    margin: 1.8rem auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
    border-color: rgba(0, 0, 0, 0.04);
    align-items: center;
    min-height: 4.5rem;
}
.search-nav.scroll .placeholder {
    background: white;
    border-radius: 0;
    width: 100%;
    margin: 1.2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.04);
    align-items: center;
    padding: 0 1rem;
}
.search-nav .placeholder .location p {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 13rem;
}
.search-nav .placeholder .dates p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-nav .placeholder p {
    font-size: 1.3rem;
}
.search-nav button.svg {
    border:0;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background: 0;
    width: 4rem;
}
.search-nav button.svg.active {
    fill: #ff385c;
}
.search-nav .actual .close {
    justify-content: flex-start;
}
.search-nav .actual .options {
    justify-content: flex-end;
}
.search-nav svg {
    width:2rem;
    height:2rem;
}
.search-nav .actual {
    display: grid;
    width: 100%;
    height: 6rem;
    grid-template-columns: 5rem auto 5rem;
    padding: 0 2rem;
    align-items: center;
}
.search-nav .actual .title {
    text-align: center;
}
.search-nav .wrapper {
    border-radius: 1rem;
    margin: 0 2rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.wrapper .vs__selected-options {
    padding: 0 0 0 2.5rem;
}
.search-nav .wrapper .vs--single .vs__dropdown-toggle {
    border-radius: 1rem 1rem 0 0;
}
.search-nav button.svg.options {
    border-left: 1px solid #e4e4e4;
    border-radius: 0;
}
.search-nav button.filter.round.dates {
    border-radius: 0 0 1rem 1rem;
    width: 100%; 
    border-top: 0;
    text-align: left;
}