/*------------------------------------*\
  #Layout- Footer
\*------------------------------------*/

.footer-content {
    padding: 3rem 7rem;
    border-top: 1px solid #c5c5c5;
    background: white;
    & p {
        color: #222222 ;
        font-size: 1.4rem;
    }
}
.footer-element {
    display: inline-block;
    margin: 0 .5rem 0 .5rem;
}

@media (max-width: 768px) {
    .footer-content {
        padding: 2rem 2rem;
        & span {
            display: none;
        }
    }
    .footer-element {
        display: block;
    }
}