/* ------------------------------------*\
  #Nav
\*------------------------------------ */

.nav::before {
    background-image: -webkit-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    content: "";
    height: 140%;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    -webkit-transition: 150ms opacity ease;
    -moz-transition: 150ms opacity ease;
    transition: 150ms opacity ease;
}
.nav::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-property: opacity, -webkit-transform, transform;
    -moz-transition-property: opacity, transform;
    transition-property: opacity, -ms-transform, -webkit-transform, transform;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
.fullwidth.nav::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
}
.nav.open::before {
    background-image: -webkit-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    content: "";
    height: 140%;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    -webkit-transition: 150ms opacity ease;
    -moz-transition: 150ms opacity ease;
    transition: 150ms opacity ease;
}
.nav.open::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    transform-origin: 50% 0%;
    transition-duration: 150ms;
    transition-property: opacity, -ms-transform, -webkit-transform, transform;
    transition-timing-function: ease;
    background: rgb(255, 255, 255);
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -3;
    opacity: 1;
    transform: scaleY(2.2);
}

.search-nav::before {
    background-image: -webkit-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    content: "";
    height: 140%;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    -webkit-transition: 150ms opacity ease;
    -moz-transition: 150ms opacity ease;
    transition: 150ms opacity ease;
}
.search-nav::after {
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-property: opacity, -webkit-transform, transform;
    -moz-transition-property: opacity, transform;
    transition-property: opacity, -ms-transform, -webkit-transform, transform;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
.search-nav.scroll::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    background: rgb(255, 255, 255);
    z-index: -3;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 0px;
}
.search-nav.open::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    background: rgb(255, 255, 255);
    z-index: -3;
    transform: scaleY(2.5);
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 0px;
}


.nav button.tab.active::before {
    background-color: currentcolor;
    border-radius: 1px;
    bottom: 0px;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -9px;
    position: absolute;
    transition: -ms-transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, -webkit-transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s;
    width: 18px;
    transform: scaleX(1);
}