/* ------------------------------------*\
  #Nav
\*------------------------------------ */

.nav {
    position: relative;
    width: 100%;
    background: 0;
    z-index: 1001;
    height: 8rem;
/*    padding: 0 8rem;*/
    margin: auto;
}
.nav.fixed {
    position: fixed;
    background: black;
    border: 0;
    padding: 0 2rem;
    max-width: 100%;
}
.nav.absolute {
    position: absolute;
    border: 0;
    top:0;
}
.nav::before {
    background-image: -webkit-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    content: "";
    height: 140%;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    -webkit-transition: 150ms opacity ease;
    -moz-transition: 150ms opacity ease;
    transition: 150ms opacity ease;
}
.nav::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-property: opacity, -webkit-transform, transform;
    -moz-transition-property: opacity, transform;
    transition-property: opacity, -ms-transform, -webkit-transform, transform;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    background: #FFFFFF;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
.fullwidth.nav::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
}
.nav.open::before {
    background-image: -webkit-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    content: "";
    height: 140%;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
    -webkit-transition: 150ms opacity ease;
    -moz-transition: 150ms opacity ease;
    transition: 150ms opacity ease;
}
.nav.open::after {
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
    transform-origin: 50% 0%;
    transition-duration: 150ms;
    transition-property: opacity, -ms-transform, -webkit-transform, transform;
    transition-timing-function: ease;
    background: rgb(255, 255, 255);
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -3;
    opacity: 1;
    transform: scaleY(2.2);
}
.nav.absolute::after {
    background: 0;
}
.nav.absolute.open::after {
    background: 0;
}
.nav.fullwidth {
    padding: 0 2rem;
}
.nav.mobile {
    position: absolute;
    border:0;
    height: 0;
    z-index: 2002;
}
header.hidden .nav {
    display: none;
}
.nav.create {
    display: none;
}
.nav__bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
    position: relative;
    margin: auto;
}

/* ------------------------------------*\ #Logo \*------------------------------------ */

.nav-logo {
    display: inline-block;
    position: relative;
    line-height: 0rem;
}
.nav-logo svg {
    width: 2.5rem;
    height: 2.5rem;
}
.nav-logo p {
    position: absolute;
    color: red;
    top: 0.3rem;
    font-weight: 900;
    left: 2.5rem;
}
/*.nav.absolute .nav-logo svg {
    fill:white;
}*/

/* ------------------------------------*\ #Search \*------------------------------------ */
.nav-search {
    width: 100%;
    display: inline-block;
    position: relative;
    min-width: 22rem;
}
.open .nav-search {
    position: initial;
}
.nav-search .cover {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1001;
    background: transparent;
}


/* ------------------------------------*\ #Menu \*------------------------------------ */
.nav-menu {
    display: flex;
    align-items: center;
        justify-content: flex-end;
}
.mobile.active .nav-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: #fff;
    width: 100%;
    z-index: 1001;
    height: 7rem;
    border-top: 0.1rem solid #ebebeb;
    display: flex;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding: 0 5%;
}
.nav-menu-item {
    position: relative;
    margin-left: 2rem;
}
.mobile .nav-menu-item {
    margin: 0;
    width: 6rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-menu-item a {
    font-family: "Montserrat", sans-serif;
    color: #484848;
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.mobile .nav-menu-item svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: #717171;
}
.mobile .nav-menu-item p {
    font-size: 1rem;
    max-height: 2.4rem;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: hidden;
    line-height: 1.5rem;
}
.nav.absolute .nav-menu-item a {
    color: white;
}

/* ------------------------------------*\ #Profile Button \*------------------------------------ */
.mobile .nav-dropdown {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    margin-left: -1.35rem;
    top: 0;
    margin-top: 0;
}
.nav-dropdown--icon {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-dropdown--icon.active {
    box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
}
.nav-dropdown--icon:hover {
    box-shadow: 0px 1px 7px rgb(0 0 0 / 50%);
}
.nav-dropdown--icon h2{
    color: white;
    font-size: 2.3rem;
    height: 100%;
}
.mobile .nav-dropdown--icon h2{
    color: white;
    font-size: 1.5rem;
}
.nav-dropdown--icon picture {
    width: 100%;
    height: 100%;
}
.nav-dropdown--icon img {
    width: 100%;
    height: 100%;
}
.nav-dropdown--icon svg {
    fill:white;
    width: 2.5rem;
    height: 2.5rem;
}
.nav-menu-item ul.sub-dropdown  {
    background: rgb(255, 255, 255);
    list-style-type: none;
    border-radius: 2rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 16px;
    color: rgb(34, 34, 34);
    margin-top: 34px;
    padding: 8px 0px;
    position: absolute;
    top: 50%;
    right: 0px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 2;
    min-width: 240px;
    display: block;
    overflow: hidden;
}
.nav-menu-item ul.sub-dropdown li a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0px;
    color: #222222 !important;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin: 0px;
    outline: none;
    overflow: visible;
    padding: 12px 16px;
    text-align: inherit;
    text-decoration: none;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    white-space: nowrap;
    width: 100%;
    -webkit-align-items: center;
    align-items: center;
}
.nav-menu-item ul.sub-dropdown li a:hover {
    background: #eaeaea;
}




@media only screen and (min-width: 768px) {
    .nav .nav__bar {
        padding: 0 3rem;
    }
    .nav.fullwidth .nav__bar {
        padding: 0;
    }
}

@media only screen and (min-width: 1160px) {
    .nav .nav__bar {
        padding: 0 8rem;
    }
    .nav.narrow .nav__bar {
        max-width: 1280px;
        padding: 0 8rem;
    }
}

