.section-a {
    margin: 0px auto;
    position: relative;
    max-width: 1200px;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
}
.section-a__wrapper {
    margin: 2rem 0;
}

@media screen and (min-width: 768px) {
    .section-a {
        padding:0 3rem;
    }
    .section-a__wrapper {
        margin: 4rem 0 6rem 0;
    }
}
@media only screen and (min-width: 1160px) {
    .section-a {
        max-width: 1760px;
        padding: 0 8rem;
    }
    .section-a.hero {
        margin-top: 11rem;
        padding: 0;
    }
}
