.section-a {
    margin: 0px auto;
    position: relative;
    max-width: 1760px;
    padding-right: 8rem;
    padding-left: 8rem;
    height: 100%;
}
.section-a__wrapper {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.section-a h2 {
    margin-bottom: 2rem;
}
