.nav .vs__dropdown-toggle {
    background: white;
    padding: 1rem;
    border-radius: 5rem;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%);
}
.nav .search-options {
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav .dropdown .search-bar {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.nav .dropdown .icon {
    right: 1rem;
    left: inherit;
    background: #ff385c;
    fill: white;
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown.all.open {
    top: 0px;
    margin-top: 8rem;
    transform-origin: 50% 0%;
    padding-left: 24px;
    padding-right: 24px;
    left: 0px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: -2;
    display: flex;
    flex-direction: column;
    transition: -ms-transform 150ms ease 0s, -webkit-transform 150ms ease 0s, transform 150ms ease 0s, opacity 50ms ease 20ms, visibility 0ms ease 25ms !important;
}
.dropdown__wrapper {
    padding-bottom: 16px !important;
    position: relative !important;
    z-index: 1 !important;
}
.nav .dropdown .tabs {
    width: 100%;
    display: flex;
    height: 6rem;
}
.nav .dropdown [data-hide-options='true'] ul[role='listbox'] {
    display: none !important;
}
.nav .dropdown .vs__dropdown-menu {
    border-radius: 3rem;
    padding: 2rem 1rem;
    margin-top: 1.5rem;
    overflow: hidden;
}
.nav .dropdown .vs__dropdown-option {
    padding: 11px 20px 7px 20px;
    width: 110%;
    margin-left: -1rem;
}
.nav .dropdown.open .vs__dropdown-toggle {
    padding: 1.5rem;
    box-shadow: none;
}
.nav .dropdown.open .vs__dropdown-toggle:hover {
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 15%);
}
.nav .dropdown.open .vs--open .vs__dropdown-toggle {
    border-radius: 5rem; 
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 15%);
}
.nav .tabs button {
    position: relative;
    font-size: 1.4rem;
}
.nav .tabs button.active::before {
    background-color: currentcolor;
    border-radius: 1px;
    bottom: 0px;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -9px;
    position: absolute;
    transition: -ms-transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, -webkit-transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s;
    width: 18px;
    transform: scaleX(1);
}


/*homepage*/
.nav.absolute .all.open {
    background: 0;
}
.nav.absolute .tabs button {
    background: 0;
}
.nav.absolute .dropdown .tabs button.active {
    border-bottom: 1px solid white;
    background: 0;
}