.dropdown {
    height: 100%;
    display: flex;
    position: relative;
    z-index: 100;
}
.dropdown .icon {
    position: absolute;
    z-index: 10;
    align-self: center;
    width: 2rem;
    height: 2rem;
    left: 1rem;
}
.dropdown svg {
    width: 2rem;
    height: 2rem;
}
.v-select {
    position: relative;
    font-family: inherit;
    width: 100%;
}
.vs--searchable .vs__dropdown-toggle {
    cursor: text;
}
.vs--single .vs__selected {
    background-color: transparent;
    border-color: transparent;
}
.vs--single .vs__dropdown-toggle {
    border-radius: 5rem;
}
.vs__dropdown-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    padding: 0 0 4px;
    background: none;
    border: 1px solid #dadce0;
    border-radius: 2rem;
    white-space: normal;
    padding-left: 4rem;
    align-items: center;
    min-height: 5rem;
}
.vs--open .vs__dropdown-toggle {
    border-radius: 2rem 2rem 0 0;
    outline: none !important;
    border: 1px solid #008489;
}
.vs__selected {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 4px;
    color: #333;
    line-height: 1.4;
    margin: 0.3rem;
    padding: 0.3rem 1rem;
    z-index: 0;
    border-radius: 5rem;
}
.vs__deselect {
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 4px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
    fill: rgba(60,60,60,.5);
    text-shadow: 0 1px 0 #fff;
}
.vs__deselect svg {
    width:inherit;
    height: inherit;
}
.v-select .vs__dropdown-toggle {
    padding: 0.5rem;
}
.vs__search, .vs__search:focus {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    line-height: 1.4 !important;
    font-size: 1em !important;
    border: 1px solid transparent !important;
    border-left: none !important;
    outline: none !important;
    /*margin: 4px 0 0 !important;*/
    padding: 0 7px !important;
    background: none !important;
    box-shadow: none !important;
    width: 0 !important;
    max-width: 100% !important;
    flex-grow: 1 !important;
    z-index: 1 !important;
}
.vs__selected-options {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0 2px;
    position: relative;
}
.vs__actions {
    display: none;
}
.vs__dropdown-menu {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    z-index: 1000;
    padding: 5px 0;
    margin: 0;
    width: 100%;
    max-height: 350px;
    min-width: 160px;
    overflow-y: auto;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%);
    border: 1px solid #008489;
    /*border: 1px solid rgba(60,60,60,.26);*/
    border-top-style: none;
    border-radius: 0 0 2rem 2rem;
    text-align: left;
    list-style: none;
    background: #fff;
}
.vs__dropdown-option {
    line-height: 1.42857143;
    display: block;
    padding: 0 1rem;
    clear: both;
    color: #333;
    white-space: nowrap;
}
.vs__dropdown-option:hover {
    background:#76c4f3;
}
.v-select.active input::placeholder {
    color: black;
}
.v-select .option__title {
    padding-bottom:1rem;
    height:2.4rem;
    display: flex;
}
.v-select .option__title p {
    font-size: 1.4rem;
    padding-left: 2rem;
    width: 100%;
    white-space: nowrap;
}