.header-a__edit {
    position: absolute;
    right: 5rem;
    z-index: 10;
    bottom: 5rem;
}
.header-a {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}
.header-a__wrapper {
    width:100%;
}
.header-a__content {
    background: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
.header-a__name h2{
    color:white;
    font-size: 3rem;
    line-height: 3rem;
}
.header-a__name p {
    color: #b1b1b1;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}
.header-a__blurb {
    height: 100%;
    margin-top: 1rem
}
.header-a__blurb p {
    color: #f1f1f1;
    font-size: 1.7rem;
    line-height: 2.2rem;
}
.header-a__image {
    position:relative;
    display:inline-block;
    background: #d4d4d4;
    width: 100%;
}
.header-a .default__image-upload {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-a .default__image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-a__image img {
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
    height: 100%;
    width: 100%;
}
.header-a button {
    border: 0;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
}
@media only screen and (min-width: 768px) {
    .header-a {
        display: flex;
        height:45rem;
        border-radius: 1rem;
    }
    .header-a__content {
        padding: 0 6rem;
        background: black;
        justify-content: flex-start;
        text-align: left;
        height:45rem;
        width:40%;
    }
    .header-a__image {
        height:45rem;
        width:60%;
    }
    .header-a__name h2{
        font-size: 4.2rem;
        line-height: 4.2rem;
    }
    .header-a__image:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        display:inline-block;
        background: linear-gradient(to right, black 0%, rgb(255 255 255 / 0%) 50%);
    }
    .header-a button {
        margin-top: 4rem;
        padding: 1.4rem 2rem;
    }
}