
.admin-staffpicks .modal.add-window .wrapper {
    width: 80%;
}
.admin-staffpicks .modal.add-window input.form-control.input {
    display: none;
}
.admin-staffpicks .modal.add-window .text-container {
    display: grid;
    grid-template-columns: 1fr 8rem 1fr;
    grid-gap: 4rem;
}
.admin-staffpicks .modal.add-window .dates-container {
    display: flex;
}