.c-tags__list {
    margin-top: 15rem;
}
.c-tags__list--grid-top {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    grid-gap:4rem;
    display: grid;
    grid-template-columns: 1fr 7rem 7rem !important;
    justify-items: center;
    position: relative;
    align-items: center;
}
.c-tags__list--grid {
    grid-gap:4rem;
    grid-template-columns: 1fr 7rem 7rem !important;
}