/* ------------------------------------*\
  #Message- Show Page
\*------------------------------------ */

.messages-show {
    margin: auto;
    width: 72%;
}

.messages-show-content {
    grid-template-columns: auto 1fr;
    grid-column-gap: 4rem;
    &.single {
        grid-template-columns: 1fr;
    }
}

.messages-show-event {
    width: 40rem;
    border: 1px solid #c7c7c7;
}

.messages-show-event__image {
    & img {
        width:100%;
    }
}
.messages-show-event__title {
    padding: 1rem;
}
.messages-show__element {
    grid-template-columns: 1fr 7rem;
    margin: 4rem 0rem;
    grid-gap: 4rem;
    &.submit {
        margin: 0rem;
    }
    &.inv {
        grid-template-columns: 7rem 1fr;
    }
}
.messages-show__submit-bottom {
    background-color: #d4d4d4;
    padding: 2rem;
    text-align: right;
}
.messages-show__element-textarea {
    margin-bottom: -0.5rem;
    border: 1px solid #c3c3c3;
    padding: 1.3rem;
    white-space: pre-line;
    & textarea {
        border:none;
    }
}
.messages-show__element-date {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0.5rem;
    color: dimgrey;
}
.message-bar-mobile {
    display: none;
}
.message-show__username {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 1200px) { 
    .messages-show {
        width: 80%;
    }
}

@media (max-width: 1024px) { 
    .messages-show {
        width: 90%;
    }
}


@media (max-width: 768px) { 
    .messages-show {
        width: 90%;
        padding: 0rem 0rem 5rem 0rem;
    }
    .messages-show-event {
        width: 100%;
    }
    .messages-show-content {
        grid-template-columns: 1fr;
    }
    .messages-show__element {
        grid-template-columns: 1fr 7rem;
        grid-column-gap: 0rem;
        &.submit {
            display: none
        }
    }
    .message-index__user-image {
        grid-column: 1;
        grid-row: 1;
    }
    .message-bar-mobile {
        position: fixed;
        height: 6rem;
        bottom: 0;
        width: 100%;
        background: white;
        border-top: 1px solid #c3c3c3;
        display: inline-block;
    }
    .messages-show__element-textarea {
        border: 0;
    }
    input.message-bar__input {
        width: 90%;
        display: block;
        border: 1px solid black;
        padding: 0.5rem;
        margin: 1rem auto;
        border-radius: 0.6rem;
        height: 4rem;
    }
    button.message-bar__submit {
        position: fixed;
        right: 2rem;
        bottom: .7rem;
        background: none;
        border: 0;
    }
    .svgbutton {
        fill: black;
        &.disabled {
            fill: #d0d0d0;
        }
    }
}