/* ------------------------------------*\
  #Event- Index Page
\*------------------------------------ */
.homepage .intro {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.homepage .intro h3 {
    color: white;
    font-size: 2rem;
    padding-top: 4rem;
}
.homepage .search-nav .placeholder {
    display: flex;
    min-height: 5.5rem;
    justify-content: center;
}
.homepage .search-nav .icon {
    display: flex;
    margin-right: 1rem;
    fill: #FF385C;
}

.homepage .nav-search__options .header {
    border: 0;
    padding: 2rem 2rem 1rem 2rem;
    height: 5.5rem;
}
.homepage .nav-search__options .header .search {
    width:100%;
}
.homepage .vs__dropdown-toggle {
    border:0;
}
.homepage .vs__dropdown-menu {
    display: none;
}
.homepage .search-list {
    border-top: 1px solid #d9d9d9;
    height: calc(100% - 5.5rem);
    width: 100%;
    overflow: auto;
    display: block;
}
.homepage .list-box {
    margin: 0px;
    padding: 0px;
}
.homepage .search-list .city{
    display: flex;
    align-items: center;
    border: 0;
    cursor: pointer;
    list-style-type: none;
    width: 100%;
    padding: 8px 16px 8px 32px;
}
.homepage .search-list .city .loc {
    border: 1px solid #b9b9b9;
    border-radius: 1rem;
    margin-right: 2rem;
    display: flex;
    height: 4rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
}
.homepage .search-list .city p {
    text-align: left;
}
.homepage .nav-search__options .body {
    padding: 3rem;
    height: calc(100% - 5.5rem);
    display: flex;
    flex-direction: column;
}
.homepage .search-nav .body .list-placeholder {
    display: flex;
    justify-content: space-around;
    min-height: 5.5rem;
    width:100%;
    padding: 0.3rem;
    background: white;
    border-radius: 5rem;
    width: 90%;
    margin: 1.8rem auto;
    display: flex;
    box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
    border-color: rgba(0, 0, 0, 0.04);
    align-items: center;
}
.homepage .nav-search__options .body h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}
.homepage .nav-search__options .body .item {
    border:0;
    padding: 0 0 1rem 0;
}
.homepage .search-nav button.svg.arrow {
    margin-left: -1rem;
}
.homepage .search-nav button.svg.options {
    margin-right: -1rem;
}



/*--------------------------------- Contributers ---------------------------------------------------- */

.index-contributers {
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #2c3e50, #2980b9);
    background: -o-linear-gradient(left, #2c3e50, #2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:3.2rem 8rem 4rem 8rem;
    & h2, h3 {
        color:white;
    }
}

button.contributer--button {
    background: 0;
    color: white;
    border: 1px solid white;
    border-radius: 5rem;
    min-height: 20rem;
    width: 100%;
    &:hover {
        border:1px solid black;
    }
}

.annual-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 26rem;
    justify-content: center;
}
.annual-report p{
   margin-top: 2rem;
}

/* Mobile devices (iphones, 768px and lower) --------------------------------- */
@media screen and (max-width: 768px) {

    .index-contributers {
        padding:3.2rem 2rem 4rem 2rem;
    }
}
