/* ------------------------------------*\
  #Event- Index Page
\*------------------------------------ */



.index-nav-search {
    position: relative;
    width: 100%;
    &.mobile {
        width: 100%;
        margin-top: 1.7rem;
    }
}





/*--------------------------------- Contributers ---------------------------------------------------- */

.index-contributers {
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #2c3e50, #2980b9);
    background: -o-linear-gradient(left, #2c3e50, #2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:3.2rem 8rem 4rem 8rem;
    & h2, h3 {
        color:white;
    }
}

button.contributer--button {
    background: 0;
    color: white;
    border: 1px solid white;
    border-radius: 5rem;
    min-height: 9rem;
    width: 100%;
    &:hover {
        border:1px solid black;
    }
}

/* Mobile devices (iphones, 768px and lower) --------------------------------- */
@media screen and (max-width: 768px) {

    .index-contributers {
        padding:3.2rem 2rem 4rem 2rem;
    }
    button.contributer--button {
        min-height: 5rem;
    }
    .event-index__categories--bottom {
        width: 8%;
        padding: .4rem;
    }
    .event-index__categories--top {
        height: 100%;
        overflow-y: auto;
        overflow-x: scroll;
        scrollbar-width: none;
        grid-column-gap: 1.4rem !important;
        display: -webkit-box!important;
        display: flex!important;
    }
    .event-index__categories--item h4 {
        font-size: 1rem;
    }
    .index-category__slider-button--left {
        display: none;
    }
    .index-category__slider-button--right {
       display: none;
    }
}
