.edit-post__body {
    margin: 2rem 0;
}
.nav-card__item {
    border: 1px solid black;
    margin-bottom: 0.3rem;
    padding: 0.5rem .5rem;
    white-space: nowrap;
    font-size: 1.2rem;
    line-height: 1.2rem;
    cursor: pointer;
}
.post-edit .post-image {
    height: 20rem;
    position: relative;
    border-radius: 1rem;
}
.post-edit .post-image .delete{
    position: absolute;
    right: -1rem;
    top: -1rem;
    z-index: 1;
}
.post-card.edit {
    margin: 2rem 0 0 0;
    position: relative;
    padding: 1rem;
}
.post-card .default__image-upload-container {
    margin-bottom: 1rem;
}
.edit-block .delete {
    position: absolute;
    top: -1rem;
    right: -1rem;
}
.post-card.edit .header {
    display: grid;
    grid-template-columns: 26rem 1fr;
}
.edit-block .block {
    padding: 2rem;
    border: 1px solid transparent;
}
.edit-block .block.hover {
    cursor: pointer;
    border:1px solid black;
    border-radius: 1rem;
}
.li-post .add {
    position: relative;
}
.add-new-post-card {
    border: 1px solid #d4d4d4;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 6rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
}
.add-new-post-card button.main {
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    height: 4rem;
}
.add-new-post-card button.main svg {
    width:15%;
    margin-left: 0.5rem;
}
.add-new-post-card button {
    border: 0;
    font-size: 1.2rem;
    text-align: left;
}
.add-new-post-card button.sub:hover {
    background: blue;
    color: white;
}

