.community-header {
    margin: 5rem 8rem 0 8rem;
    position: relative;
}
.community-index .album.container{
    padding: 2rem 1rem;
}
.collections {
    margin: 4rem 0;
}
.com-card-wrapper {
    width: 100%;
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 8px;
}
.com-card-text {
    padding-top: .8rem;
}
.com-card-text h4 {
    font-size: 1.8rem;
    color: rgb(34, 34, 34);
}
.com-card-image {
    border-radius: 1rem;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    flex: 1 1 0%;
}
.com-card-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}
.com-image label.default__image-upload {
    width: 100%;
    height: 100%;
}
.add-listing {
    margin-bottom: 2rem;
}