/* ------------------------------------*\
  #Event- Search Filters
\*------------------------------------ */
.event__filter {
    width: 100%;
    z-index: 901;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border-radius: 2rem 2rem 0 0;
    border-top: 1px solid black;
}

.greyBar {
    width: 6rem;
    background: #a7a7a7;
    height: 0.5rem;
    border-radius: 5rem;
    margin: auto;
    margin-top: 2rem;
}

.filter__row {
    width: 100%;
    text-align: center;
}

.filter__content {
    width: 100%;
    z-index: 1;
    position: relative;
    padding: 2rem;
}

.filter__grid {
    justify-content: left;
    align-items: end;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 1.4rem;
    display: inline-grid;
    width: 100%;
    height: 4.5rem;
    position: relative;
    margin-bottom: 1rem;
}

.filter__block .filter.round {
    height: 3.5rem;
}

.filterBar__relative {
    height:10rem;
}

.filter__location {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: white;
    padding-top: 2rem;
    z-index: 999;
}

.filter__location--back {
    display: inline-block;
    padding: 2rem;
}

.filter__location .nav-search__content {
    width: 78%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.7rem;
}

.filter__location .nav-search__content .icon {
    display: none;
}

.filter__location .multiselect__placeholder {
    color: black;
    padding: 0 1rem;
}

.filter__location .multiselect__input {
    color: black;
    padding: 0 1rem;
    font-size: 1.4rem !important;
}

.filter__location .multiselect__select {
    color: black;
    padding: 0 1rem;
    font-size: 1.4rem !important;
}

.filter__location .multiselect__single {
    color: black;
    padding: 0 1rem;
    font-size: 1.4rem !important;
}

.filter__location .multiselect__content .option__desc {
    color: black;
    font-size: 1.4rem;
    padding: 0 1rem;
}

.filter__location button {
    position: absolute;
    z-index: 1;
    right: 3.5rem;
    border-radius: 5rem;
    top: 3.5rem;
    border: 0;
    background: #e6e6e6;
}

.filter__dates {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: white;
    padding-top: 10rem;
    z-index: 999;
}

.filter__dates h3 {
    margin-left: 5rem;
}

button.filter__dates--button {
    position: absolute;
    z-index: 1;
    right: 3.5rem;
    border-radius: 5rem;
    top: 3.5rem;
    border: 0;
    background: #e6e6e6;
}

.filter__dates--bottom {
    bottom: 10%;
    position: absolute;
    left: 0;
    right: 0;
    height: 7rem;
}

.filter__price {
    min-width: 15rem;
    padding: 2rem;
    min-height: 15rem;
}

.filter__price .vue-slider {
    margin: auto;
    margin-top: 6rem;
}

.filter__categories {
    display: inline-block;
    width: 100%;
    padding: 2rem;
    height: 17rem;
}

.filter__categories--top {
    height: 100%;
    overflow-y: auto;
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex !important;
}

.filter__categories--middle {
    white-space: nowrap;
    overflow: visible;
    transition: transform 0.5s ease 0s;
}

.filter__categories--bottom {
    width: 36vw;
    padding: 0.4rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.filter__categories--element {
   width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 9rem;
    text-align: center;
    font-size: 1.5rem;
    &.active {
        color: white;
        background: black;
    }
}

.filter__tags {
    display: inline-block;
}

button.filter {
    padding: 1.4rem 2rem;
    background: #fff;
    display: inline-block;
    border-radius: 0.6rem;
    border: 1px solid #dadce0;
    overflow: hidden;
    white-space: nowrap;
    height: 4.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    font-size: 1.4rem;
    line-height: 0;
    &:hover {
        background: #ff385c;
        color: white;
    }
    &.active {
        color:#fff;
        background: #ff385c;
    }
}

button.filter.round {
    border-radius: 5rem;
}

button.mobile-filter {

}

.filter__dropdown {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 70%;
    background: white;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 10px 37px;
    border-radius: 5rem;
    min-width: 65rem;
}

.filter__dropdown--grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    font-size: 1.4rem;
    padding: 2rem;
}

.filter__dropdown--grid button {
    width: 100%;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0;
    border: 0;
    &:hover {
        background: #ff385c;
        color: white;
    }
    &.active {
        background: #ff385c;
        color: white;
    }
}

.filter__dropdown--footer {
    padding: 1rem;
    text-align: center;
}

button.left-half {
    border-radius: 5rem 0 0 5rem;
}

button.right-half {
    border-radius: 0 5rem 5rem 0;
    border: 1px solid #ff385c;
    background: #ff385c;
    color: white;
    border-left: 0;
}

.filter__dropdown .form-control.input {
    display: none;
}

.filter__dates .flatpickr-calendar {
    box-shadow: none !important;
}

/* ------------------------------------*\
  #Search Filters--Price
\*------------------------------------ */

.vue-slider {
    padding: 0.3rem 2rem !important;
    width: 16rem !important;
}

.vue-slider-dot-tooltip-inner-top::after {
    display: none;
}

.vue-slider-dot-tooltip-top {
    top: -0.2rem !important;
}

.vue-slider-dot-tooltip-inner {
    padding: 0.44rem;
    text-align: center;
    min-width: 3rem;
    background-color: #48acf3 !important;
}

.filter__container {
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    height: 100%;
    background: white;
    z-index: 3000;
    left: 0;
    right: 0;
    bottom: 0;
}

.filter__nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 7rem;
    align-items: center;
    padding: 1.1rem 3rem;
    border-bottom: 1px solid black;
}

.mobile-filter-list__nav--close-button {
    background: none;
    border:none;
}
.mobile-filter-list__clear {
    text-align: right;
}
.mobile-filter-list__clear-button {
    background: none;
    border:none;
}

.filter__container--content {
    background: white;
    padding: 1rem 0 10rem 0;
}

.filter__container--content h3 {
    margin-bottom: 2rem;
}

.mobile-filter-list__content--dates {
    padding: 3rem;
    border-bottom: 1px solid #cccccc;
    min-height: 42rem;
    & .flatpickr-calendar.inline {
        box-shadow: none;
    } input.form-control.input {
        border: 0;
        margin: 1rem 0rem;
    }
}

.mobile-filter-list__content--categories {
    padding: 3rem;
    border-bottom: 1px solid #cccccc;
    & .multiselect {
        margin:auto;
        width: 100%;
        z-index: 100;
    }
}

.mobile-filter-list__content--prices {
    padding: 3rem;
    border-bottom: 1px solid #cccccc;
    .box.price {
        width: 26rem;
        margin: auto;
    }
}
.mobile-filter-list__price-box {
    width: 26rem;
    margin: auto;
}

.price-box__amount {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.price-box__amount--info {
    background: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid black;
    & label {
        display: inherit;
    }
    & input {
        width: 100%;
        font-size: 3rem !important;
        border: none;
    }
}

.mobile-filter-list__footer {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 24px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px !important;
    position: fixed;
    background: white;
    bottom: 0;
    width: 100%;
    height: 7rem;
    border-top: 1px solid #cccccc;
    z-index: 100;
}
.mobile-filter-list__footer--button {
    background: white;
    width: 70%;
    margin: auto;
    margin-top: 1.5rem;
}
button.mobile-filter-button {
    width: 100%;
    color:white;
    background-color: $default-color;
}

button.pop-box__cancel {
    background: white;
    border: 1px solid darkgrey;
    color: #989898;
    padding: 0.3rem 1rem;
}

button.pop-box__submit {
    float: right;
    padding: 0.3rem 1rem;
}

@media (min-width: 768px) {
    .event__filter {
        border-radius: 0;
        border: 0;
    }

    .filter__location {
        width: 100%;
        min-width: 25rem;
        height: inherit;
        position: relative;
        padding: 0;
    }

    .filter__location .nav-search__content {
        width: 100%;
        margin-top: 0;
    }

    .filter__location button {
        position: absolute;
        z-index: 1;
        right: 0.7rem;
        border-radius: 5rem;
        top: 0.7rem;
    }

    .filter__dates {
        user-select: none;
        width: 100%;
        padding: 0;
        position: relative;
        height: inherit;
    }

    .filter__dropdown--footer {
        float: right;
        text-align: inherit;
    }

    .filter__price {
        padding: 0;
        min-height: 0;
    }

    .filter__categories {
        padding: 0;
        height: 0;
    }

    .filter__categories {
        width: inherit;
    }
}

