
.listing-owner p {
    font-size: 1.2rem;
}
.listing-show .sidebar .sticky{
    top:12rem;
}
.listing-show .sidebar .sticky h3{
    font-size: 1.5rem;
    color: black;
}
.listing-show  .sidebar .sticky p{
    font-size: 1.2rem;
}
.listing-header {
    position: relative;
    width: 100%;
}
.listing-image img, .listing__card-image img {
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: bottom;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
.listing-image  label.default__image-upload {
    width: 100%;
    height: 100%;
}
.listing-content {
    width: 100%;
    margin: 4rem auto;
    max-width: 800px;
}
.listing-blurb {
    position: relative;
}
.listing-card {
    margin: 2rem 0 0 0;
    position: relative;
}
.listing__card-image img {
    width: 100%;
    border-radius: 1rem;
}
.card__image-upload {
    width: 25rem;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.card__image-upload svg {
    width: 16%;
}
.listing-card .field {
    margin-bottom: 1rem;
}
.listing-card a {
    text-decoration: underline;
    color: initial;
}
.listing-card .blurb {
    margin-top: 2rem;
}
.listing-card .card-out {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.listing-show .listing__card-image {
    height: 40rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
}
.listing-card .seperator {
    justify-content: center;
    display: flex;
    padding:2rem 0;
}
.listing-card .seperator .a{
    margin-right: 20px;
    width: 0.3rem;
    height: 0.3rem;
    background-color: #080808;
    border-radius: 50%;
}
.listing-card .seperator .a.b{
    margin-right: 0px;
}
