/* ------------------------------------*\
  #Account Section- Favorites Page
\*------------------------------------ */

.favorited-index {
    width: 100%;
    margin: auto;
    padding: 0 8rem 8rem 8rem;
}

.favorited-index__title {
    margin: 4rem 0;
}

@media (max-width: 768px) {
    .favorited-index {
        padding: 3rem 2rem;
    }

    .favorited-index__title {
        margin: 2rem 0 2.5rem 0;
    }
}