/* ------------------------------------*\
  #Account Section- Notifications Page
\*------------------------------------ */

.account-notifications {
    width: 100%;
    margin: auto;
    padding: 0 8rem;
}

.account-notifications_header {
    margin: 4rem 0;
}

.account-notifications_breadcrumbs {
    margin: 1.5rem 0;
}

section.notifications {
    width: 65%;
    grid-template-columns: auto 10rem;
    margin: 1rem 0;
    grid-gap: 3rem;
    border-bottom: 1px solid #d4d4d4;
    -webkit-box-align: center;
    align-items: center;
}

.notifications_element {
    padding: 2rem 0;
    & h4 {
        margin: 0 0 1rem;
        font-size: 1.5rem;
        color: #353535;
        font-weight: 500;
    }
    & p {
        font-weight: 300;
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .account-notifications {
        padding: 0 2rem 6rem 2rem;
    }
    
    section.notifications {
        grid-template-columns: 1fr;
        width: 100%;
        grid-gap: 0;
        padding-bottom: 2rem;
    }
}