/* ------------------------------------*\
  #Profile Section- User Profile Page
\*------------------------------------ */

.user-profile {
    grid-template-columns: 1fr;
    width:100%;
    margin: auto;
    padding:6rem 2rem 6rem 2rem;
}
.user-profile-image {
    width: 5rem;
    height: 5rem;
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    & input {
        display: none;
    }
    & .error {
        position: absolute;
        color:red;
    }
}
.user-profile-image__wrapper, .user-profile-image__wrapper img {
    font-size: 40px;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;
    border-radius: 50%;
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 110px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    &.imageloaded {
        font-size: 40px;
        background-position: center center;
    }
    &.imageloading {
        background: #1b1b1bc4
    }
}
.user-profile-noimage__text {
        text-align: center;
        margin: auto;
        & h2 {
            z-index: 10;
            color: white;
            font-size: 4rem;
            text-transform: uppercase;
            margin: 0;
            font-family: "Times New Roman", Times, serif;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
        }
    }
.profile-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
}
.user-profile-image__update-text {
    position: absolute;
    bottom: -2.5rem;
    width: 6rem;
    top: -2.5rem;
    margin: 0;
    left: 0;
}
.user-enter-profile {
    margin: 3rem 0rem 10rem 0rem;
}
.profile-user-info {
    display: inline-block;
    color: #484848;
    font-weight: 300;
    margin: .4rem 0rem;
}
.profile-user-name h1 {
    font-size: 2.4rem;
}
.profile-user-edit {
    display: inline-block;
    cursor: pointer;
    color: #008489;
    font-weight: 300;
    margin-left: 1rem;
}
.profile-user-favorites {
    margin: 4rem 0rem;
    border-top: 1px solid #bbbbbb;
    padding: 2rem 0rem;
}
button.verify-email {
    color:$default-color;
    border: 1px solid #e6e6e6;
    padding: .5rem;
    margin-left: 1rem;
}
button.verify-email:disabled,
button.verify-email[disabled]{
  border: 1px solid #999999;
  color: #666666;
}



@media (min-width: 768px) {
    .user-profile-noimage__text h2{
        font-size: 8rem;
    }
    .user-profile {
        width: 72%;
        padding-top: 7rem;
        grid-template-columns: 0.33fr 0.66fr;
    }
    .user-profile-image {
        width: 11rem;
        height: 11rem;
    }
    .user-enter-profile {
        margin: 0;
    }
    .user-profile-image__update-text {
        top: -2.5rem;
        left: 50%;
        margin-left: -3rem;
    }
}
