
/* ------------------------------------*\
  #Create Section- Image Page
\*------------------------------------ */

.event-create__image {
    padding-top: 9rem;
    width:100%;
}
.event-create-image {
    width: 100%;
    margin: auto;
    padding: 0 8rem;
    max-width: 1280px;
}
.event-create__image .default__image-upload-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 10rem;
}
.event-create__image .default__image-upload {
    width: 100%;
    height: 46rem;
    display: flex;
    background: #ffd9d9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}





