/*------------------------------------*\
  #Create Section- General Layout
\*------------------------------------*/

.create-body {
   display: grid;
   grid-template-columns: 23rem 1fr;
   grid-gap:0 !important;
   &.hidden {
    display: inline-block;
   }
}

.ce__nav {
    background: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.05) -4px 0px 20px inset;
    z-index: 1004;
}

nav.create {
    width: 23rem;
    position: relative;
    z-index: 902;
    background: rgb(247, 247, 247);
    padding: 1.2rem;
}
.create-nav-header {
    grid-template-columns: 7rem 1fr;
    grid-gap:0rem !important;
}
.nav-create-logo h3 {
    color: #404040;
    font-family: "Open Sans", sans-serif;
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
}
.nav-back {
    text-align: right;
}
button.nav-back-button {
    font-size: 1.3rem;
    padding: .8rem 1rem;
    margin: 0;
    background: 0;
    border: 1px solid #bfbfbf;
}
.create-nav-guide {
    margin: 4rem 0rem;
    & h3 {
        font-weight: 800;
    }
}
.create-menu {
    grid-template-columns: 1fr;
    position: relative;
    align-items: center;
    grid-gap: 0 !important;
    &.review {
        background: $default-color;
        width: 100%;
        height: 8rem;
    }
}
.create-menu__item {
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-gap: 1rem !important;
    margin: .3rem 0rem;
    padding: .6rem 1rem;
    &.active {
        background: #e4e4e4;
        border-radius: .6rem;
    }
}
.create-nav-icon-border {
    border: 2px solid black;
    border-radius: 50%;
}
p.create-menu-text {
    font-size: 1.4rem;
    color: #585858;
    font-weight: 300;
}
.create-menu__item.active p.create-menu-text {
    color:black;
    font-weight: 400;
}

.create-navbar__hover {
    position: absolute;
    width: 100%;
    text-align: center;
    background: white;
    height: 4rem;
    top:0;
    border-top: 3px solid $default-color;
    padding-top: 1.8rem;
    color: $default-color;
    &:hover {
        color:white;
        background: none;
    }
}
.create-bottom-nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 7rem;
    z-index: 1001;
    display: grid;
    grid-template-columns: 23rem 1fr;
    &.review {
        background: $default-color;
        display: inline-block;
    }
}
.create-navbar {
    height: 7rem;
    line-height: 0.8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px;
    position: relative;
    border-top: 1px solid #bdbdbd;
     &.review {
        border:0;
        background: $default-color;
    }
}
.create-navbar__page {
    overflow: visible;
    display: inline-block;
    width:100%;
    height:100%;
    position: relative;
    margin-left: -.85rem;
    & a {
        position: absolute;
        top:0;
        width:100%;
        height: 100%;
    }
}


button.create {
    border: 1px solid #008489;
    border-radius: .3rem;
    padding: .9rem 2rem;
    font-size: 1.5rem;
    background: #008489;
    color: #fff;
    height: 4rem;
    &.review {
        background: #ffffff;
        color: $default-color;
        border: 1px solid $default-color;
    }
}
button.create:disabled,
button.create[disabled]{
    border: 1px solid #cacaca;
    background-color: #f9f9f9;
    color: #c7c7c7;
}
.create-button__forward {
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    z-index: 1002;
}
.create-button__back {
    position: fixed;
    bottom: 1.5rem;
    left: 25rem;
    z-index: 1002;
    &.review {
        left:2rem;
    }
}
.review-nav-text {
    color:white;
}

.event-create__submit-button {
    position: absolute;
    left: 11.5rem;
    z-index: 1002;
    top: 1.2rem;
}

.updated-notifcation {
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 2rem;
    background: $default-color;
    border-radius: 1rem;
    z-index: 2000;
}
.updated-notifcation p {
    color:white;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

@media (max-width: 768px) { 
    .create-menu {
        grid-gap:0rem !important;
    }
    section.event-create {
        width:100%;
    }
    .create-button__in-nav {
        position: fixed;
        bottom: 0rem;
        right: 0rem;
        width:100%;
        background: white;
        top: inherit;
        border-top: 1px solid #ebebeb;
        padding: 1rem;
        text-align: right;
        &.review {
            top: inherit;
            right: inherit;
        }
    }
    .create-body {
       display: grid;
       grid-template-columns: 1fr;
       grid-gap:0 !important;
    }
    .event-create__submit-button {
        display: none;
    }
    nav.create {
        width: 100%;
        position: absolute;
        z-index: 3999;
        height: 100vh;
        border-radius: 0 5rem 5rem 0;
        margin-left: 0rem;
        border:1px solid #b3b3b3;
        padding: 2rem;
    }
    nav.create.hide {
       margin-left:-100vw;
    }

    .create-nav-guide {
        margin: 8rem 0 4rem 0;
    }

    .nav-create-logo h3 {
        position: absolute;
        right: 2.5rem;
        top: 3.8rem;
        font-size: 3rem;
    }

    .create-nav-hamburger {
        z-index: 4999;
        position: absolute;
        top: 5%;
        left: 2rem;
    }

    .create-nav-hamburger span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    .create-nav-hamburger span:first-child {
        transform-origin: 0% 0%;
    }

    .create-nav-hamburger span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .create-nav-hamburger.active span {
        opacity: 1;
        transform: rotate(45deg) translate(-10px, -10px);
        background: #232323;
    }

    .create-nav-hamburger.active span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .create-nav-hamburger.active span:nth-last-child(2) {
        transform: rotate(-45deg) translate(-10px, 10px);
    }


}

