/*------------------------------------*\
  #Create Section- Title Page
\*------------------------------------*/

.event-create__title {
    padding: 9rem 8rem 14rem 8rem;
    max-width: 70rem;
}

button.editTitle {
    color: white;
    padding: .4rem 1rem;
    background: orange;
    font-family: "Montserrat", sans-serif;
}

.event-create__intro p {
    font-size: 1.5rem;
    line-height: inherit;
    margin-bottom: 1.4rem;
}
.event-create__intro li {
    font-size: 1.5rem;
    color: black;
    margin-bottom: .8rem;
}

@media (max-width: 768px) { 
    .event-create__title {
        padding: 10rem 2rem 4rem 2rem;
    }
}


