
.search {
    position: relative;
}

.search__list {
    width: 100%;
}

.online.search .results {
    padding: 0 2rem;
    position: relative;
}


@media (min-width: 768px) {
    .search {
        min-height: calc(100vh - 7rem);
    }

    .online.search .results {
        padding: 2rem 8rem;
    }

    .online.search div.pagination {
        position: absolute;
        top: -1rem;
        right: 10rem;
    }
}
